<h1 class="title">エントリー一覧</h1>
<%# @entries = {:title, :link, :creator, :date, :tag, :head_text} %>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2"></div>

    <div class="col-sm-8">
      <%= render :partial => "entry_list" %>
      <div id="more"></div>
      <%= button_to "もっと読み込む",  {:action => "add_show_entry"}, {:remote => true} %> 
    </div>

    <div class="col-sm-2"></div>
  </div>
</div>

