<h1>エントリー一覧</h1>
<%# @entries = {:title, :link, :creator, :date, :tag, :head_text} %>

<%= render :partial => "entry_list" %>
<%= button_to "more",  {:action => "add_show_entry"}, {:remote => true} %>
<div id="last"></div>
