// Place all the styles related to the favoentry controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.entry-card{
  width: 300px;
  height: 450px;
  background: #fff;
  border: thin solid #ccc;
  margin: 15px;
  padding: 15px;
}

.entry-creator{
  width: 270px;
  height: 50px;
  // float: initial;
  padding: 5px, 15px;
}

.entry-title{
  width: 270px;
  height: 90px;
  // float: initial;
  padding: 15px;
}

.entry-img{
  width: 270px;
  height: 160px;
  padding: 15px;
  img{
    width: 240px;
    height: 135px;
  }
}

 .entry-date{
  width: 270px;
  height: 45px;
  padding: 15px;
}

.entry-tags{
  width: 270px;
  height: 40px;
  padding: 15px;
}

hr{
  margin: 0px;
}
