// Place all the styles related to the favoentry controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.entry-card{
  width: 310px;
  height: 470px;
  background: #fff;
  border: thin solid #ccc;
  margin: 13px;
  padding: 15px;
}

$entry-content-width: 280px;

.entry-bookmarkcount{
  width: $entry-content-width;
  height: 40px;
  font-size: x-large;
  color: #0AD;
  padding: 0px 15px 15px;
}
.entry-creator{
  width: $entry-content-width;
  height: 70px;
  // float: initial;
  padding: 15px;
  font-size: large;
}

.entry-title{
  width: $entry-content-width;
  height: 126px;
  // float: initial;
  padding: 15px;
  font-size: large;
  word-wrap: break-word;
}

.entry-img{
  width: $entry-content-width;
  height: 165px;
  padding: 15px;
  img{
    width: 180px;
    height: 135px;
    margin: 0px 35px;
  }
}

 .entry-date{
  width: $entry-content-width;
  height: 45px;
  padding: 0px 15px;
  color: #999;
}

// .entry-tags{
//   width: $entry-content-width;
//   height: 90px;
//   padding: 15px;
// }

hr{
  margin: 0px;
}
