// Place all the styles related to the favoentry controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.entry-card{
  width: 300px;
  height: 450px;
  background: #fff;
  border: medium solid #ccc;
  padding: 15px;
  margin: 10px 5px;
}

.entry-title{
  width: 270px;
  height: 80px;
}

.entry-img{
  width: 270px;
  height: 160px;
  img{
    width: 210px;
    height: 135px;
    margin: 5px 30px;
  }
  a{
    width: 270px;
    height: 100px;
    margin: 5px 15px;
  }
}
